.bg-1 {
    background-image: url(./images/bg1.jpg);
    background-size: cover;
}

.bg-2 {
    background-image: url(./images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 86px); 
}

.bg-3 {
    background-image: url(./images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 86px); 
}

.header {
    text-align: start;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    background-color: rgba(0,0,0,0.4);
    margin-top: -6vw;
}

.header_content {
    padding: 250px 0;
    margin-left: 50px;
}

h1 {
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 60px;
}

h2 {
    font-family: 'Kalam', cursive;
    font-size: 40px;
}

h3 {
    font-family: 'Amiri', serif;
    font-weight: 700;
    color: black;
    font-size: 35px;
}

.alter {
    background-color: whitesmoke;
}

.tc {
    text-align: center;
}

.justify-content-center {
    padding-top: 100px;
    text-align: center;
}

.textimg {
    margin-left: auto; 
    margin-right: auto; 
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.textimg img {
    width: 300px;
    height: 200px;
}

.col-xl-4.textimg p {
    width: 300px;
}

.box {
    padding: 20px;
    padding-bottom: 0px;
    background-color: rgb(201, 201, 100);
    border: 2px solid black;
}

.footer {
    color: white;
    text-align: center;
}

.logbox {
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    padding: 70px;
}

.logbox p {
    color: white;
}

.logbox .form-text {
    color: white;
    text-align: left;
}

a {
    color: aqua;
}

.sideimg {
    width: 100%;
    height: 400px;
}

.error p {
    font-family: 'Amiri', serif;
    font-weight: 400;
    font-size: 20px;
}

.bmi {
    font-family: 'Amiri', serif;
    font-weight: 700;
    font-size: 60px;
    color: black;
}
