{% extends "layout.html" %}

{% block title %} BMI {% endblock %}

{% block main %}

    <div class="container">
        <h2 class="box tc my-4">
            <p>The Body Mass Index (BMI)</p>
        </h2>
    </div>

    <div class="alter">
        <div class="container my-2 tc">
            <form action="/bmi" method="post" id="metric-form">
                <h3>Metric</h3>
                <hr>
                <input type="number" step="any" min="1" placeholder="Weight(kg)" name="m-weight" required autocomplete="off">
                <input type="number" step="0.01" min="1" placeholder="Height(m)" name="m-height" required autocomplete="off">
                <button class="btn btn-warning" type="submit" name="metric">Calculate!</button>
            </form>
        </div>
    </div>  

    <div class="alter">
        <div class="container my-2 tc">
            <form action="/bmi" method="post" id="imperial-form">
                <h3>Imperial</h3>
                <hr>
                <input type="number" step="any" min="1" placeholder="Weight(lbs)" name="i-weight" required autocomplete="off">
                <input type="number" step="0.01" min="1" placeholder="Height(in)" name="i-height" required autocomplete="off">
                <button class="btn btn-warning" type="submit" name="imperial">Calculate!</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="box tc my-4">
            <h2>Interpretation</h2>
        </div>
    </div>

    <div class="alter">
        <div class="container">
            <div class="textimg">
                <p>While it's not perfect, the BMI can be used as a general health indicator. In short, the higher it is, the higher the risk of developing conditions such as diabetes, arthritis, hypertension, high colestherol, and others.</p>
            </div>
        </div>

        <div class="container">
            <div class="row">    
                <div class="col-5">
                    <h3>Results</h3>
                    <p class="bmi">{{ RESULT }}</p>
                </div>

                <div class="col-3">
                    <div class="row">
                        <div class="col">
                            <p>Under 18.5</p>
                        </div>

                        <div class="col">
                            <p>Underweight</p>
                        </div>
                        <hr>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p>18.5 - 24.9</p>
                        </div>

                        <div class="col">
                            <p>Normal</p>
                        </div>
                        <hr>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p>25 - 29.9</p>
                        </div>

                        <div class="col">
                            <p>Overweight</p>
                        </div>
                        <hr>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p>30 and over</p>
                        </div>

                        <div class="col">
                            <p>Obese</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
