{% extends "layout.html" %}

{% block title %} Health Tools {% endblock %}

{% block main %} 
    
<!-- Header -->
    <div class="bg-1">
        <div class="header">
            <h1>Every information you need in the palm of your hands!</h1>
            <p>Keep track of allergies, medications and much more.</p>
            <a href="/register" type="submit" class="btn btn-warning btn-lg my-4">Register Now!</a>
        </div>
    </div>
    
<!-- Content -->
    <div class="container tc my-4">
        <h2 class="box">
            <p>We do our best to help you organize your health information.</p>
            <p>Check some of our options!</p>
        </h2>
    </div>
    
    <div class="alter">
        <div class="container">
            <!-- First Row of Images -->
            <div class="row mt-5">
                <div class="col-xl-3 textimg">
                    <img class="rounded" src="/static/images/blood.jpg">
                    <p>Have your ever forgot your own or your relatives blood type? No need to worry anymore!</p>
                </div>

                <div class="col-xl-3 textimg">
                    <img class="rounded" src="/static/images/medical.jpg">
                    <p>Information about your relatives conditions in an easy to access profile!</p>
                </div>

                <div class="col-xl-3 textimg">
                    <img class="rounded" src="/static/images/medicine.jpg">
                    <p>Sometimes we have to manage multiple medications at the same time, often for many people. Never forget who takes what!</p>
                </div>
            </div>
                
            <!-- Second Row of Images -->
            <div class="row my-5">
                <div class="col-xl-3 textimg">
                    <img class="rounded" src="/static/images/allergy.jpg">
                    <p>It's extremely important to know which allergies our relatives have, it may even save their lives during an emergency.</p>
                </div>

                <div class="col-xl-3 textimg">
                    <img class="rounded" src="/static/images/habits.jpg">
                    <p>Knowing someone's bad habits can help when an emergency comes up.</p>
                </div>

                <div class="col-xl-3 textimg">
                    <img class="rounded" src="/static/images/bmi.jpg">
                    <p>We offer an easy to use BMI Calculator for everyone! Make sure to know how it works and put it to use!</p>
                </div>

                <div class="col-xl-3 textimg">
                    <img class="rounded" src="/static/images/practices.jpg">
                    <p>We also have a collection of good practices to help our users become healthier!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container tc my-4">
        <h2 class="box">
            <p>About our mission</p>
        </h2>
    </div>

    <div class="alter">
        <div class="container ct-1">
            <!-- First Paragraph -->
            <div class="row">
                <div class="col-9 textimg">
                    <p>Our mission is to offer tools that help individuals keep track of their health and well-being. By using Health Tools, our users will be equipped with the knowledge needed to make responsible decisions about their health and live more fullfiling lives.</p>
                </div>
            </div>
            
            <!-- Second Paragraph -->
            <div class="row my-2">
                <div class="col-9 textimg">
                    <p>In today's modern world, keeping track of information such as blood type, medications, allergies and health conditions of our significant others may prove to be a challenging task. For this reason, we made our primary goal to simplify the access to all of this assential knowledge.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span>CS50 Final Project 2023!</span>
        </div>
    </footer>
{% endblock %}
