{% extends "layout.html" %}

{% block title %} Good Practices {% endblock %}

{% block main %}

    <div class="container tc box my-4">
        <h2> A collection of good practices to live a healthier life</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="fluid rounded float-start sideimg" src="static/images/exercise.jpg">
            </div>
            <div class="col-lg-6">
                <h3>Regular Exercise</h3>
                <p class="my-3 textimg">Exercise is amazing for both your body and mind. It helps keeping your heart strong, makes your muscles and bones healthier and can even strengthen your immune system, reducing the risk of getting sick. As a plus, regular exercise can also reduce stress levels, which improves sleep, mood, confidence and energy overall.</p>
            </div>
        </div>
    </div>

    <div class="alter my-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Balanced Diet</h3>
                    <p class="my-3 textimg">A balanced diet is essential to a healthy life. It keeps you energized with all the vitamins and minerals necessary to keep your body working all day long and also benefits your heart, bones, skin, immune system and even your mood! Eating this way can lead to a better and longer life.</p>
                </div>
                <div class="col-lg-6">
                    <img class="fluid rounded float-end sideimg" src="static/images/diet.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="fluid rounded float-start sideimg" src="static/images/hydration.jpg">
            </div>
            <div class="col-lg-6">
                <h3>Adequate Hydration</h3>
                <p class="my-3 textimg">Staying hydrated offers numerous benefits. It helps you stay cool, it's good for digestion,  your kidneys work better, your skin will look prettier and it can even make you feel less hungry. Don't forget to drink enough water every day so your body can work properly!</p>
            </div>
        </div>
    </div>

    <div class="alter my-4">
        <div class="container">
            <div class="row" >
                <div class="col-lg-6">
                    <h3>Adequate Sleep</h3>
                    <p class="my-3 textimg">Getting enough sleep is essential for mental clarity, keeping you in a good mood, and it's great for your overall health. With a good sleep schedule, you will become more productive, creative, better at problem-solving, and reduce stress levels. A good night of sleep ensures that we're at our best selves.</p>
                </div>
                <div class="col-lg-6">
                    <img class="fluid rounded float-end sideimg" src="static/images/sleep.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="fluid rounded float-start sideimg" src="static/images/meditation.jpg">
            </div>
            <div class="col-lg-6">
                <h3>Stress Management</h3>
                <p class="my-3 textimg">When you learn how to handle your stress well, your body stays healthier, your mood improves and your brain works better. Reduced stress levels help the way in which we deal with our relationships and even increase the quality of sleep. It's the key for an enhanced quality of life!</p>
            </div>
        </div>
    </div>

    <div class="alter my-4">
        <div class="container">
            <div class="row" >
                <div class="col-lg-6">
                    <h3>Good Hygiene</h3>
                    <p class="my-3 textimg">Having a good hygiene prevents you from getting sick and spreading germs to others. Washing your hands regularly, taking showers, brushing your teeth, keeping your living space clean and prepare your food well are all part of a good hygiene. It's not only about looking and smelling nice, but also keeping you healthy.</p>
                </div>
                <div class="col-lg-6">
                    <img class="fluid rounded float-end sideimg" src="static/images/hygiene.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6">
                <img class="fluid rounded float-start sideimg" src="static/images/mental_health.jpg">
            </div>
            <div class="col-lg-6">
                <h3>Mental Health Awareness</h3>
                <p class="my-3 textimg">Though often neglected, mental health is one of the most important pieces of our overall health. It helps people understand that it's okay to talk about their feelings, ask for help or seek professional support. When aware of mental health, communities and workplaces become nicer and more understanding places where people can be themselves. Mental health awareness is a big part of a fulfilling life, in which we can take better care of ourselves and our love ones.</p>
            </div>
        </div>
    </div>

{% endblock %}
