{% extends "layout.html" %}

{% block title %} Good Practices {% endblock %}

{% block main %}

    <div class="container tc box my-4">
        <h2> A collection of good practices to live a healthier life</h2>
    </div>

    <div class="container">
        <div class="row" >
            <div class="col-lg-6">
                <img class="fluid rounded float-start sideimg" src="static/images/exercise.jpg">
            </div>
            <div class="col-lg-6">
                <h3 style="font-weight: 700;">Regular Exercise</h3>
                <p class="my-3">Exercise is amazing for both your body and mind. It helps keeping your heart strong, makes your muscles and bones healthier and can even strengthen your immune system, reducing the risk of getting sick. As a plus, regular exercise can also reduce stress levels, which improves sleep, mood, confidence and energy overall.</p>
            </div>
        </div>
    </div>

    <div class="alter my-4">
        <div class="container">
            <div class="row" >
                <div class="col-lg-6">
                    <h3 style="font-weight: 700;">Balanced Diet</h3>
                    <p class="my-3">A balanced diet is essential to a healthy life. It keeps you energized with all the vitamins and minerals necessary to keep your body working all day long and also benefits your heart, bones, skin, immune system and even your mood! Eating this way can lead to a better and longer life.</p>
                </div>
                <div class="col-lg-6">
                    <img class="fluid rounded float-end sideimg" src="static/images/diet.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" >
            <div class="col-lg-6">
                <img class="fluid rounded float-start sideimg" src="static/images/hydration.jpg">
            </div>
            <div class="col-lg-6">
                <h3 style="font-weight: 700;">Adequate Hydration</h3>
                <p class="my-3">Staying hydrated offers numerous benefits. It helps you stay cool, it's good for digestion,  your kidneys work better, your skin will look prettier and it can even make you feel less hungry. Don't forget to drink enough water every day so your body can work properly!</p>
            </div>
        </div>
    </div>

    <div class="alter my-4">
        <div class="container">
            <div class="row" >
                <div class="col-lg-6">
                    <h3 style="font-weight: 700;">Adequate Sleep</h3>
                    <p class="my-3">Getting enough sleep is essential for mental clarity, keeping you in a good mood, and it's great for your overall health. With a good sleep schedule, you will become more productive, creative, better at problem-solving, and reduce stress levels. A good night of sleep ensures that we're at our best selves.</p>
                </div>
                <div class="col-lg-6">
                    <img class="fluid rounded float-end sideimg" src="static/images/sleep.jpg">
                </div>
            </div>
        </div>
    </div>

{% endblock %}