{% extends "layout.html" %}

{% block title %} Profiles {% endblock %}

{% block main %}
<div class="container-fluid">
    <!-- Tabs -->
    <div class="d-flex">
        <div class="nav flex-column nav-pills me-3 col-2 mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Mike Ross</button>
            <button class="nav-link" id="add-tab" data-bs-toggle="pill" data-bs-target="#add" type="button" role="tab" aria-controls="add" aria-selected="false">Add New</button>
        </div>
        
        <div class="container">
            <div class="tab-content tc col-9" id="v-pills-tabContent">
                <div class="tab-pane fade show active mt-3" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                    <h2>Mike Ross</h2>
                    <hr>
                    <table class="table table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">Blood Type</th>
                                <td>A+</td>
                            </tr>

                            <tr>
                                <th scope="row">Allergies</th>
                                <td>Dust</td>
                            </tr>

                            <tr>
                                <th scope="row">Medications</th>
                                <td>Alektos</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Appointments</h2>
                    <hr>
                    <table class="table table table-bordered table-striped">
                        <thead>
                            <th>Speciality</th>
                            <th>Date</th>
                            <th>Hour</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A</td>
                                <td>B</td>
                                <td>C</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Vaccination</h2>
                    <hr>
                    <table class="table table table-bordered table-striped">
                        <thead>
                            <th>Vaccine</th>
                            <th>Dose</th>
                            <th>Date</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A</td>
                                <td>B</td>
                                <td>C</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <!-- Form -->
                <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="add-tab" tabindex="0">
                    <form>
                        <h2>Add a new profile:</h2>

                        <div class="row">
                            <div class="col-8">
                                <input class="form-control mt-3" type="text" placeholder="Name" id="profile_name" name="profile_name" autofocus autocomplete="off" required>
                            </div>

                            <div class="col-4 mt-3">
                                <select class="form-select" aria-label="Blood Type">
                                    <option selected disabled>Blood Type</option>
                                    <option value="1">A+</option>
                                    <option value="2">A-</option>
                                    <option value="3">B+</option>
                                    <option value="4">B-</option>
                                    <option value="5">AB+</option>
                                    <option value="6">AB-</option>
                                    <option value="7">O+</option>
                                    <option value="8">O-</option>
                                </select>
                            </div>
                        </div>
                        
                        <input class="form-control mt-3" type="text" placeholder="Allergies" id="allergies" name="allergies" autocomplete="off" required>

                        <input class="form-control mt-3" type="text" placeholder="Medications" id="medications" name="medications" autocomplete="off" required>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}